<div class="mt-4">
    <form method="post" action="">
    <div class="row mb-3">
        <div class="col-sm-10">
        <label for="searchInput" class="mb-2">Tìm Kiếm</label>
        <input type="text" name="q" class="form-control" id="searchInput" placeholder="Nhập từ khóa...">
        <select type="text" name="gender" class="form-control mt-2" id="optionInput" >
            <option value="">-- Chọn giới tính</option>
            <option value="male">Nam</option>
            <option value="female">Nữ</option>
        </select>

        </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
